.toast {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 16px;

    font-size: .8em;
    line-height: 1.2;

    background-color: var(--clr-bg-300);
    color: var(--clr-text-100);
    border-radius: 10px;

    & > p {
        margin: 0 15px;
        &:hover {
            cursor: default;
        }
    }

    & > svg {
        fill: var(--clr-text-100);
        width: 32px;
        height: 32px;
    }
    & > svg:last-of-type {
        fill: #8B0000;
        &:hover {
            cursor: pointer;
        }
    }
}